<p>Listing view.</p>
<div class="col-sm-12 padding-0">
	<div class="col-sm-12 padding-0 margin-top-10 margin-bottom-10 border-solid-ccc cursor-pointer" style="height: 150px" 
	ng-repeat="item in list" ng-click="openDetails(item)">
		<div class="col-sm-3 padding-0 border-solid-ccc margin-top-5" style="height: 90%">
	
		</div>
		<div class="col-sm-7 padding-0 border-solid-ccc margin-top-5" style="height: 90%">
	
		</div>
		<div class="col-sm-2 padding-0 border-solid-ccc margin-top-5" style="height: 90%">
	
		</div>
	</div>
</div>
