<div class="col-sm-12 padding-0">
  <div class="col-sm-6 padding-0 border-solid-ccc category-holder">
    <div class="col-sm-12 padding-0 category">
      <div class="col-sm-3 padding-0 box"
      ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
      <div class="col-sm-12 padding-0 content">
        <div class="col-sm-12 padding-0 icon-holder">
          <img id="mobiles" src="http://www.w3schools.com/css/img_trans.gif">        
        </div>
        <div class="col-sm-12 padding-0 title-holder">
          <span class="col-sm-12 padding-0">Books, sports & hobbies</span>
        </div>
      </div>

      </div>
    </div>
  </div>

  <div class="col-sm-6 padding-left-0 padding-right-0 border-solid-ccc">
    <h4>HTML5 Boilerplate</h4>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
  </div>
</div>
